<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>找回密码 </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Cofrestru Registration Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link th:href="@{css/findpassword.css}" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
	<h1>渠道通找回密码</h1>
		<div class="registration">
			<h2>Registration Form</h2>				
					<form>
						<div class="form-info">
						<input type="text" class="text" value="Your Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Full Name';}" >
						<input type="text" class="text" value="Email Adress" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Adress';}" >
						<input type="text" class="text" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}" >
						<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
					    </div>
					    <input type="submit" value="REGISTER">
					</form>
					<ul class="bottom-icons">
						<li><a href="#">Signup With</a></li>
						<li><a href="#" class="facebook"> </a></li>
						<li><a href="#" class="twitter"> </a></li>
						<li><a href="#" class="gp"> </a></li>
							<div class="clear"> </div>
					</ul>
							<div class="clear"> </div>
		</div>
            <div class="copy-rights">
					<!-- <p>Copyright &copy; 2015<a target="_blank" href="http://www.smallseashell.com/"></a></p> -->
			</div>

</body>
</html>