<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sdwxwx.com">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 相机拍照功能权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录制音频权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读sd卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 环信即时通讯权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- ShareSDK需要权限start -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- ShareSDK需要权限end -->
    <application
        android:name=".ShowApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.SearchUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".play.activity.PlayVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".home.activity.PickCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".login.activity.LoginPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.LoginVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.UserAgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.DataEditingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.NotLoginInterfaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.GetPhoneActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".login.activity.NotLoginStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".release.activity.RecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RiseAnimation" />
        <activity
            android:name=".release.activity.RecordEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RiseAnimation" />
        <activity
            android:name=".release.activity.AlbumImportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".release.activity.AlbumEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RiseAnimation" />
        <activity
            android:name=".release.activity.MusicOnlineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".release.activity.MusicOnlineTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".release.activity.PublishEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitleAppTheme" />
        <activity
            android:name=".release.activity.ChooseCoverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitleAppTheme" />
        <activity
            android:name=".release.activity.DraftListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitleAppTheme" />
        <activity
            android:name=".release.activity.AddTopicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitleAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".release.activity.FriendsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TitleAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".me.activity.QRCodeGenerateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.activity.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.activity.MessageFriendFansListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.activity.MessageWealthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.activity.MessageMyTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.activity.NameCertifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.activity.MeEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".letter.activity.LetterSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".letter.activity.LetterListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".letter.activity.LetterChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".me.activity.FindFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.activity.FansHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.TopicVideoListActivity"
            android:screenOrientation="portrait" />
        <!-- ShareSDK配置 START -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106830209" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name="cn.sharesdk.tencent.qzone.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106830209" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- ShareSDK配置 END -->


        <service
            android:name=".me.service.MeUpdateService"
            android:exported="false" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="yYBXORlancX2CMawGk4r6pGmU9s1UQwP" />
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1133180511146798#woxingwoshow" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="sdwxwx.com.me.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".login.utils.MyFileProvider"
            android:authorities="sdwxwx.com.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>