<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fcn.co.jp.park.mapper.me.MeMyMsgMapper">
    <select id="selectMyMsgList" resultType="fcn.co.jp.park.util.PageData" parameterType="fcn.co.jp.park.util.PageData"
            useCache="false">
        SELECT
            id,
            date_format(insert_timestamp, '%Y-%m-%d') AS creatTime,
            title,
            activity_type                             AS activityType,
            read_status                               AS readStatus
        FROM
            t_message
        WHERE
            user_id = #{userId,jdbcType=VARCHAR}
            OR
            user_id = '0'
        ORDER BY insert_timestamp DESC
        LIMIT #{numS}, #{numE}
    </select>


    <select id="selectHasMyMsg" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*)
        FROM
            t_message
        WHERE
            read_status = '0'
            AND
            (user_id = #{userId,jdbcType=VARCHAR}
             OR
             user_id = '0')
    </select>

    <select id="getMsgDetailById" resultType="fcn.co.jp.park.util.PageData" useCache="false">
        SELECT
            title,
            date_format(insert_timestamp, '%Y-%m-%d') AS creatTime,
            content,
            activity_type                             AS activityType,
            parkPay_id                                AS payId
        FROM
            t_message
        WHERE
            id = #{id,jdbcType=VARCHAR}
    </select>

    <update id="updateMsgStatusById" parameterType="java.lang.String" flushCache="false">
        UPDATE
            t_message
        SET
            read_status = '1'
        WHERE
            id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>



